[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "*"
requests = "*"
eth-abi = "*"
python-dotenv = "*"
fpdf = "*"
pandas = "*"
plotly = "*"
kaleido = "*"
seaborn = "*"
matplotlib = "*"
numba = "*"

[dev-packages]
ipykernel = "*"
jupyterlab = "*"
ipython = "*"

[requires]
python_version = "3.12"
